@import url(https://fonts.googleapis.com/css?family=Lobster);
body {
  background: rgba(100, 250, 200, 0.3);
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgb(197, 178, 135);
}

p {
  font-size: 30px;
  font-family: 'Lobster';
}

img {
  width: 30%;
}