@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

body {
  background: rgba(129, 185, 166, 0.3);
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgb(118, 72, 72);
}

p {
  font-size: 40px;
  font-family: 'Sigmar One';
}

img {
  width: 50%;
}