@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background: rgba(204, 143, 233, 0.877);
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgb(53, 0, 200);
}

p {
  font-size: 30px;
  font-family: 'Indie Flower';
}

img {
  width: 30%;
}