@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background: rgba(100, 250, 200, 0.3);
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgba(0, 200, 100, 1);
}

p {
  font-size: 30px;
  font-family: 'Indie Flower';
}

img {
  width: 30%;
}